# 💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n"
{{- $name := "Bram Goolaerts" -}}
{{- $email := "dev@bollewolle.be" -}}
{{- $username := "bramg" -}}
{{- $github_username := "bollewolle" -}}

{{- $data := . }}
{{- $_ := set $data "user" (default (dict) (get $data "user")) -}}

data:
  onepasswordAccount: "tbd"
  user: email = {{ $email | quote }}
  name = {{ $name | quote }}
  username = {{ $username | quote }}
  github_username = {{ $github_username | quote }}
hooks:
  read-source-state:
    pre:
      command: ".local/share/chezmoi/.install-password-manager.sh"