# 💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n"
{{- $name := "Bram Goolaerts" -}}
{{- $email := "dev@bollewolle.be" -}}
{{- $username := "bramg" -}}
{{- $github_username := "bollewolle" -}}

{{- $data := . }}
{{- $_ := set $data "user" (default (dict) (get $data "user")) -}}

{{- /* This retains the value passed with --source on chezmoi init, which is used in the ../install.sh script */ -}}
sourceDir = "{{ .chezmoi.workingTree }}"
verbose = true

[data]
    onepasswordAccount = "tbd"

[data.user]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    username = {{ $username | quote }}
    github_username = {{ $github_username | quote }}
    editor = "code"

[hooks.read-source-state.pre]
    command = ".dotfiles/chezmoi/.install-password-manager.sh"